<script src="~/Scripts/Categories/jquery.validate.categories.js"></script>

@{
    ViewBag.Title = "Categorias";
}

<br>
<h2>Lista de Categorias</h2>
<br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-circle"></i> Agregar Productos</button>
<br>

<table class="table table-striped" id="ProductsTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Codigo Categoria</th>
            <th>Nombre Categoria</th>
            <th>Descripcion</th>
            <th>Status</th>
            <th>Autor</th>
            <th>Fecha Creacion</th>
            <th>Fecha Actualizacion</th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <input type="hidden" id="Id" />
                    <div class="form-group">
                        <div class="form-group">
                            <label for="CategoryCode">Codigo de Categoria</label>
                            <input type="text" class="form-control" name="CategoryCode" id="CategoryCode" placeholder="Codigo de categoria" />
                        </div>
                    </div><br />
                    <div class="form-group">
                        <label for="CategoryName">Nombre</label>
                        <input type="text" class="form-control" name="CategoryName" id="CategoryName" placeholder="Nombre" />
                    </div>
                    <div class="mb-3">
                        <label for="Descriptions">Descripcion</label>
                        <input type="text" class="form-control" name="Descriptions" id="Descriptions" placeholder="Descripcion" row="3" />
                    </div>
                    <div class="form-group">
                        <label for="Status">Estado</label>
                        <select class="form-control" name="status" id="Status">
                            <option value="" selected="selected" disabled="disabled">Seleccione una opcion</option>
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="btnAdd">Agregar</button>
                <button type="button" class="btn btn-outline-primary" id="btnUpdate" style="display:none;">Actualizar</button>
            </div>
        </div>
    </div>
</div>
